// VARS
$blue-color = #1f55ad
$light-blue = #80b1d9
$dark-blue = rgb(10,26,52)
$white-color = #fff

html
  font-size: 16px

body
  width: 100vw
  max-width: 100%
  overflow: hidden

#header
  position: absolute
  top: 0
  width: 100%
  z-index: 1000

#logo
  max-width: 68px

.menu-hamburger
  width: 24px
  height: 24px

  svg
    height: 24px

    path
      fill: $blue-color


// MENU
#menu
  text-transform: uppercase
  background-color: $blue-color
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  display: none
  z-index: 100
  color: $white-color
  font-size: 1.6rem

  a
    letter-spacing: 8px

.show-menu
  #menu
    display: block

  .menu-toggle
    svg path
      fill: $white-color

.home-background
  background-image: url('/img/dist/home_bg.gif')
  background-size: cover
  background-position: center

// SCROLL TO PROMOCIONES
.scroll-to-promociones
  opacity: 0.8

  svg
    animation: updown 1s infinite
    width: 100%
    max-width: 85px
    fill: $white-color
    stroke: $white-color

@keyframes updown {
  0%   { transform: translateY(-10px); }
  50%   { transform: translateY(0px); }
  100%   { transform: translateY(-10px); }
}

// PROMOCIONES
.promociones
  background-image: url('/img/dist/ninos.png')
  background-color: $light-blue
  background-position: center
  background-size: contain
  background-repeat: no-repeat
  position: relative

.promociones-column
  height: 100vh

.full
  width: 100vw
  height: 100vh
  max-width: 100%

// TERMS
#terms
  position: absolute
  top: 0;
  right: 0;
  max-height: 100vh;
  overflow: scroll;
  color: $white-color
  transition: transform 300ms
  transform: translateX(100%)
  background-color: $dark-blue
  overflow-x: hidden

.close-terms
  position: absolute
  top: 20px
  left: 0px
  svg
    width: 76px
    fill: $white-color
    stroke: $white-color

.show-terms
  #terms
    transform: translateX(0%)


.background-dark-blue
  background-color: $dark-blue


// SINGLE TERMS
#single-terms
  color: $white-color
